$white: #FFFFFF;

body{
    margin: 0;
}

// SPLASH

.splash{
    height: 100vh;
    width: 100%;
    color: $white;
    background-image: url("../../../src/img/orig_frame.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .titre{
      text-align: center;
      .classement{
        background-color: black;
        .jeux{
          padding: 10px 30px;
          border-top: 0.5px solid $white
        }
        .first{
          background-color: #F4D40C;
        }
        .second{
          background-color: #C7D9ED;
        }
        .third{
          background-color: #D4532F;
        }
      }
    }
    .next{
        font-size: 80px;
        a{
          i{
            color: $white;
          }
        }
    }
}

// /SPLASH

// GAMES

.games{
  .bd-example{
    #carouselExampleCaptions{
      .test{
        .test1{
          display: flex;
          .carousel-control{
            &-prev{
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              height: 180px;
              color: black;
              background-color: $white;
              z-index: 999;
              font-size: 30px;
              width: 40px;
            }
          }
        }
        .carousel-control{
          &-next{
            font-size: 30px;
            color: black;
            background-color: white;
            height: 180px;
            width: 40px;
            position: absolute;
          }
        }
        .carousel-indicators{
          li{
            height: 180px;
            width: 150px;
            background-color: black;
            padding: 0;
            margin: 0;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            .thumbnail{
              width: 100px;
              height: 100px;
              background-size: 100%;
              background-position: center;
              background-repeat: no-repeat;
              z-index: 999;
            }
            .thumb{
              &-0{
                background-image: url("../../../src/img/donkey_dr.png");
              }
              &-1{
                background-image: url("../../../src/img/mario_dr.png");
              }
              &-2{
                background-image: url("../../../src/img/megaman_dr.png");
              }
              &-3{
                background-image: url("../../../src/img/sonic_dr.png");
              }
              &-4{
                background-image: url("../../../src/img/mario_dr.png");
              }
              &-5{
                background-image: url("../../../src/img/megaman_dr.png");
              }
              &-6{
                background-image: url("../../../src/img/sonic_dr.png");
              }
              &-7{
                background-image: url("../../../src/img/mario_dr.png");
              }
              &-8{
                background-image: url("../../../src/img/megaman_dr.png");
              }
              &-9{
                background-image: url("../../../src/img/sonic_dr.png");
              }
              &-10{
                background-image: url("../../../src/img/sonic_dr.png");
              }
            }
          }
        }
      }
      .carousel-inner{
        .carousel-item{
          .content-slide{
            position: absolute;
            display: flex;
            z-index: 9999999;
            top: 35%;
            margin: 50px;
            .img{
              background-image: url("../../../src/img/game.jpg");
              background-size: cover;
              background-position: center;
              height: 100px;
              width: 100px;
            }
            .txt{
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
}