$white: #FFFFFF;

body{
    margin: 0;
}

// SPLASH

.splash{
    height: 100vh;
    width: 100%;
    color: $white;
    background-image: url("../../../src/img/wallpaper.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .header{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      .team{
        a{
          font-size: 30px;
          color: $white;
        }
      }
    }
    .titre{
      display: flex;
      justify-content: center;
      width: 80%;
      .team{
        width: 30%;
      }
      .table{
        width: 30%;
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .price{
          background-image: url("../../../src/img/gold-medal.png");
          background-size: cover;
          margin: 10px;
          height: 50px;
          width: 50px;
        }
        .classement{
          background-color: black;
          .jeux{
            padding: 10px 100px;
            border-top: 0.5px solid $white
          }
          :nth-child(1){
            background-color: #F4D40C;
          }
          :nth-child(2){
            background-color: #C7D9ED;
          }
          :nth-child(3){
            background-color: #D4532F;
          }
        }
      }
      .comm{
        width: 30%;
        .list{
          .commentaires{
            border-top: solid 2px $white;
          }
        }
      }
    }
    .next{
        font-size: 80px;
        a{
          i{
            color: $white;
          }
        }
    }
}

// /SPLASH

// GAMES

.games{
  .bd-example{
    #carouselExampleCaptions{
      .test{
          .carousel-control{
            &-prev{
              color: black;
              background-color: #FFFFFF;
              font-size: 30px;
              width: 40px;
              z-index: 999999;
            }
          }
        .carousel-control{
          &-next{
            font-size: 30px;
            color: black;
            background-color: #FFFFFF;
            width: 40px;
            z-index: 999999;
          }
        }
        .carousel-indicators{
          li{
            height: 180px;
            width: 150px;
            background-color: black;
            padding: 0;
            margin: 0;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            .thumbnail{
              width: 100px;
              height: 100px;
              background-size: 100%;
              background-position: center;
              background-repeat: no-repeat;
              z-index: 999;
            }
            .thumb{
              &-0{
                background-image: url("../../../src/img/sharingan.png");
              }
              &-1{
                background-image: url("../../../src/img/mars.png");
              }
              &-2{
                background-image: url("../../../src/img/ghost.png");
              }
              &-3{
                background-image: url("../../../src/img/fleur.png");
              }
              &-4{
                background-image: url("../../../src/img/fighter.png");
              }
              &-5{
                background-image: url("../../../src/img/grotte.png");
              }
              &-6{
                background-image: url("../../../src/img/mana.png");
              }
              &-7{
                background-image: url("../../../src/img/ori.png");
              }
              &-8{
                background-image: url("../../../src/img/macron.png");
              }
              &-9{
                background-image: url("../../../src/img/zombie.png");
              }
              &-10{
                background-image: url("../../../src/img/cat.png");
              }
            }
          }
        }
      }
      .carousel-inner{
        .carousel-item{
          .sombre{
            width: 100%;
            height: 100vh;
            background-color: #140a0a7a;
            position: absolute;
            z-index: 999;
          }
          img{
            filter: blur(5px);
          }
          .content-slide{
            position: absolute;
            display: flex;
            z-index: 9999999;
            top: 35%;
            margin: 0px 200px;
            .blanc{
              color: $white;
            }
            .img{
              &-0{
                background-image: url("../../../src/img/sharingan.png");
                background-size: cover;
                background-position: center;
                height:210px;
                width: 520px;
              }
              &-1{
                background-image: url("../../../src/img/mars.png");
                background-size: cover;
                background-position: center;
                height:220px;
                width: 470px;
              }
              &-2{
                background-image: url("../../../src/img/ghost.png");
                background-size: cover;
                background-position: center;
                height: 220px;
                width: 520px;
              }
              &-3{
                background-image: url("../../../src/img/fleur.png");
                background-size: cover;
                background-position: center;
                height: 250px;
                width: 390px;
              }
              &-4{
                background-image: url("../../../src/img/fighter.png");
                background-size: cover;
                background-position: center;
                height: 250px;
                width: 520px;
              }
              &-5{
                background-image: url("../../../src/img/grotte.png");
                background-size: cover;
                background-position: center;
                height: 210px;
                width: 540px;
              }
              &-6{
                background-image: url("../../../src/img/mana.png");
                background-size: cover;
                background-position: center;
                height: 280px;
                width: 500px;
              }
              &-7{
                background-image: url("../../../src/img/ori.png");
                background-size: cover;
                background-position: center;
                height: 300px;
                width: 300px;
              }
              &-8{
                background-image: url("../../../src/img/macron.png");
                background-size: cover;
                background-position: center;
                height: 280px;
                width: 500px;
              }
              &-9{
                background-image: url("../../../src/img/zombie.png");
                background-size: cover;
                background-position: center;
                height: 350px;
                width: 350px;
              }
              &-10{
                background-image: url("../../../src/img/cat.png");
                background-size: cover;
                background-position: center;
                height: 300px;
                width: 370px;
              }
            }
            .txt{
              margin-left: 100px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              a{
                font-size: 40px;
                color: #F4D40C
              }
            }
          }
        }
      }
    }
  }
}

// Team

.presentationB3{
  background-image: url('../../../src/img/wallpaper.jpg');
  background-position: center;
  background-size: cover;
  .b3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .card{
      margin-top: 50px;
      .card-head{
        padding-top: 1.25rem;
        .pdp{
          &-1{
            height: 100px;
            width: 100px;
            border-radius: 50px;
            background-image: url('../../../src/img/0.jpeg');
            background-position: center;
            background-size: cover;
            margin: auto;
          }
          &-2{
            @extend .pdp-1;
            background-image: url('../../../src/img/1.jpeg')
          }
          &-3{
            @extend .pdp-1;
            background-image: url('../../../src/img/2.jpeg')
          }
          &-4{
            @extend .pdp-1;
            background-image: url('../../../src/img/3.jpeg')
          }
          &-5{
            @extend .pdp-1;
            background-image: url('../../../src/img/4.jpeg')
          }
          &-6{
            @extend .pdp-1;
            background-image: url('../../../src/img/5.jpeg')
          }
          &-7{
            @extend .pdp-1;
            background-image: url('../../../src/img/6.jpeg')
          }
          &-8{
            @extend .pdp-1;
            background-image: url('../../../src/img/7.jpeg')
          }
          &-9{
            @extend .pdp-1;
            background-image: url('../../../src/img/8.jpeg')
          }
          &-10{
            @extend .pdp-1;
            background-image: url('../../../src/img/9.jpeg')
          }
          &-11{
            @extend .pdp-1;
            background-image: url('../../../src/img/10.jpeg')
          }
        }
      }
    }
  }
}

// GLOBAL

.header{

}

footer{
  text-align: center;
  background-color: #202124;
  color: $white;
  padding: 1.25rem;
  font-size: 12px;
}