$white: #FFFFFF;

body{
    margin: 0;
}

// SPLASH

.splash{
    height: 100vh;
    width: 100%;
    color: $white;
    background-image: url("../../../src/img/orig_frame.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .next{
        font-size: 80px;
        a{
          i{
            color: $white;
          }
        }
    }
}

// /SPLASH

// GAMES

.games{
  .bd-example{
    #carouselExampleCaptions{
      .carousel-indicators{
        border: 5px solid red;
        overflow: hidden;
        li{
          height: 230px;
          width: 150px;
          background-color: black;
          padding: 0;
          margin: 0;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          .thumbnail{
            width: 100px;
            height: 100px;
            background-image: url("../../../src/img/donkey_dr.png");
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
            z-index: 999;
          }
        }
      }
    }
  }
}