$white: #FFFFFF;

body{
    margin: 0;
}

// SPLASH

.splash{
    height: 100vh;
    width: 100%;
    color: $white;
    background-image: url("../../../src/img/orig_frame.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .next{
        font-size: 80px;
        a{
          i{
            color: $white;
          }
        }
    }
}

// /SPLASH

// GAMES

.games{
  .bd-example{
    #carouselExampleCaptions{
      .carousel-indicators{
        border: 5px solid red;
        overflow: hidden;
        li{
          height: 230px;
          width: 150px;
          background-color: black;
          padding: 0;
          margin: 0;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          .thumbnail{
            width: 100px;
            height: 100px;
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
            z-index: 999;
          }
          .thumb{
            &-0{
              background-image: url("../../../src/img/donkey_dr.png");
            }
            &-1{
              background-image: url("../../../src/img/mario_dr.png");
            }
            &-2{
              background-image: url("../../../src/img/megaman_dr.png");
            }
            &-3{
              background-image: url("../../../src/img/sonic_dr.png");
            }
            &-4{
              background-image: url("../../../src/img/mario_dr.png");
            }
            &-5{
              background-image: url("../../../src/img/megaman_dr.png");
            }
            &-6{
              background-image: url("../../../src/img/sonic_dr.png");
            }
            &-7{
              background-image: url("../../../src/img/mario_dr.png");
            }
            &-8{
              background-image: url("../../../src/img/megaman_dr.png");
            }
            &-9{
              background-image: url("../../../src/img/sonic_dr.png");
            }
            &-10{
              background-image: url("../../../src/img/sonic_dr.png");
            }
          }
        }
      }
      .select{
        &-prev{
          position: absolute;
          z-index: 9999;
          bottom: 0;
          .fas{
            font-size: 30px;
            color: black;
          }
        }
        &-next{
          position: absolute;
          bottom: 0;
          right: 0;
          z-index: 9999;
          .fas{
            font-size: 30px;
            color: black;
          }
        }
      }
    }
  }
}